<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <title>Este es el index</title>
  </head>
  <style media="screen">
    .boximg{
      color: #222;
      height: 180px;
      padding: 15px;

    }
    .boxprecio{
      color: #222;
      text-align: center;
      border: solid 1px;
      font-size: 28px;
      font-weight: bold;
      margin: -0px -17px -1px -17px;
    }
    .boxprecio input{
      border: nore;
    }
  </style>
  <body>
    <div class="micontenedor bg-fff">

      <div class="mirow p30">
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/hdi.png" class="img100" alt="HDI">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/bolivar.png" class="img100" alt="Bolívar">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/mapfre.png" class="img100" alt="Mapfre">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
      </div>
      <div class="mirow p30">
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/sbs.png" class="img100" alt="SBS">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/previsora.png" class="img100" alt="Previsora">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col33 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/zurich.png" class="img100" alt="Zurich">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
      </div>

      <div class="mirow p30 oculto">
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/previsora.png" class="img100" alt="Previsora">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/zurich.png" class="img100" alt="Zurich">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/sura.png" class="img100" alt="Sura">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/axa.png" class="img100" alt="Axa Colpatria">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
      </div>

      <div class="mirow p30 oculto">
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/estado.png" class="img100" alt="Estado">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/liberty.png" class="img100" alt="Liberty">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/equidad.png" class="img100" alt="Equidad">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
        <div class="col25 b1 bc-222">
          <div class="boximg">
            <img src="img/aseguradoras/allianz.png" class="img100" alt="Allianz">
          </div>
          <div class="boxprecio">
            <input type="text" class="col100 center" name="" value=""></input>
          </div>
        </div>
      </div>

    </div>


    <%- include('includes/scripts') %>
  </body>
</html>
