<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <title>Este es el index</title>
  </head>
  <body>
    este es el control


    <%- include('includes/scripts') %>
  </body>
</html>
