<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <title></title>
  </head>
  <body>
    <div class="alert alert-success">
      esta es la pagina de inicio
    </div>
  </body>
</html>
