<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <link href="../css/estilopvp.css" rel="stylesheet" type="text/css" />
    <title>PVP</title>
  </head>

  <body>

    <div class="center boxpvp" id="0box">
      <div class="mirow bg-vs ml10 radius5">

        <div class="col40 center pt0 f50">
          <div class="mr10" id="0Aname">
            Cargando...
          </div>
        </div>

        <div class="col5 center f60 negrita white" id="0Anum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>

        <div class="col5">
          <img class="img100 mt30" src="img/flecha-doble.png" alt="">
          <img class="-ml30 mt10 imgvs" src="img/vs.png" alt="">

        </div>

        <div class="col5 center -ml10 f60 negrita white" id="0Bnum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>

        <div class="col40 center pt0 f50">
          <i id="0start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
          <span id="0Bname">
            Cargando...
          </span>
        </div>

      </div>
    </div>

    <div class="center boxpvp" id="1box">
      <div class="mirow bg-vs ml10 radius5">

        <div class="col40 center pt0 f50">
          <div class="mr10" id="1Aname">
            Cargando...
          </div>
        </div>
        <div class="col5 center f60 negrita white" id="1Anum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col5">
        <img class="img100 mt30" src="img/flecha-doble.png" alt="">
        <img class="-ml30 mt10 imgvs" src="img/vs.png" alt="">
        </div>
        <div class="col5 center -ml10 f60 negrita white" id="1Bnum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col40 center pt0 f50">
        <i id="1start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="1Bname">
          Cargando...
        </span>
        </div>

      </div>
    </div>

    <div class="center boxpvp" id="2box">
      <div class="mirow bg-vs ml10 radius5">

        <div class="col40 center pt0 f50">
          <div class="mr10" id="2Aname">
            Cargando...
          </div>
        </div>
        <div class="col5 center f60 negrita white" id="2Anum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col5">
        <img class="img100 mt30" src="img/flecha-doble.png" alt="">
        <img class="-ml30 mt10 imgvs" src="img/vs.png" alt="">
        </div>
        <div class="col5 center -ml10 f60 negrita white" id="2Bnum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col40 center pt0 f50">
        <i id="2start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="2Bname">
          Cargando...
        </span>
        </div>

      </div>
    </div>

    <div class="center boxpvp" id="3box">
      <div class="mirow bg-vs ml10 radius5">

        <div class="col40 center pt0 f50">
          <div class="mr10" id="3Aname">
            Cargando...
          </div>
        </div>
        <div class="col5 center f60 negrita white" id="3Anum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col5">
        <img class="img100 mt30" src="img/flecha-doble.png" alt="">
        <img class="-ml30 mt10 imgvs" src="img/vs.png" alt="">
        </div>
        <div class="col5 center -ml10 f60 negrita white" id="3Bnum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col40 center pt0 f50">
        <i id="3start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="3Bname">
          Cargando...
        </span>
        </div>

      </div>
    </div>

    <div class="center boxpvp" id="4box">
      <div class="mirow bg-vs ml10 radius5">

        <div class="col40 center pt0 f50">
          <div class="mr10" id="4Aname">
            Cargando...
          </div>
        </div>
        <div class="col5 center f60 negrita white" id="4Anum">
          <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col5">
        <img class="img100 mt30" src="img/flecha-doble.png" alt="">
        <img class="-ml30 mt10 imgvs" src="img/vs.png" alt="">
        </div>
        <div class="col5 center -ml10 f60 negrita white" id="4Bnum">
         <img class="img100 mt25" src="img/spinner.gif" alt="">
        </div>
        <div class="col40 center pt0 f50">
        <i id="4start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="4Bname">
          Cargando...
        </span>
        </div>

      </div>
    </div>


    <div class="f30 mt10 oculto">
      <i class="fa fa-star yellow" aria-hidden="true"></i> Lugar Asegurado - Donantes de la semana.
    </div>

    <%- include('includes/scripts') %>
    <script type="text/javascript" src="js/miscriptpvp.js"></script>
  </body>
</html>
