<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <title>PVP</title>
  </head>
  <style media="screen">
    .bg-vs{
      background-image: linear-gradient(to right, purple , fuchsia);
    }
  </style>
  <body>

    <div class="center " id="0box">
      <div class="mirow bg-vs radius5">
        <div class="col10 center f50 negrita white" id="0Anum">
          2
        </div>
        <div class="col30 center pt0 f40">
          <div class="mr10" id="0Aname">
            SHOWTIME
          </div>
        </div>
        <div class="col20">
        <img class="img30 mt15" src="img/flecha-doble.png" alt="">
        </div>
        <div class="col30 center pt0 f40">
        <i id="0start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="0Bname">
          Alesongg
        </span>
        </div>
        <div class="col10 center f50 negrita white" id="0Bnum">
          0
        </div>
      </div>
    </div>

    <div class="center" id="1box">
      <div class="mirow bg-vs radius5">
        <div class="col10 center f50 negrita white" id="1Anum">
          2
        </div>
        <div class="col30 center pt0 f40">
          <div class="mr10" id="1Aname">
            LOKI
          </div>
        </div>
        <div class="col20">
        <img class="img30 mt15" src="img/flecha-doble.png" alt="">
        </div>
        <div class="col30 center pt0 f40">
        <i id="1start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="1Bname">
          Alesongg
        </span>
        </div>
        <div class="col10 center f50 negrita white" id="1Bnum">
          3
        </div>
      </div>
    </div>

    <div class="center " id="2box">
      <div class="mirow bg-vs radius5">
        <div class="col10 center f50 negrita white" id="2Anum">
          0
        </div>
        <div class="col30 center pt0 f40">
          <div class="mr10" id="2Aname">
            OSITO
          </div>
        </div>
        <div class="col20">
        <img class="img30 mt15" src="img/flecha-doble.png" alt="">
        </div>
        <div class="col30 center pt0 f40">
        <i id="2start" class="fa fa-star yellow oculto" aria-hidden="true"></i>
        <span id="2Bname">
          Alesongg
        </span>
        </div>
        <div class="col10 center f50 negrita white" id="2Bnum">
          2
        </div>
      </div>
    </div>

    <div class="center " id="3box">
      <div class="mirow bg-vs radius5">
        <div class="col10 center f50 negrita white" id="3Anum">
          1
        </div>
        <div class="col30 center pt0 f40">
          <div class="mr10" id="3Aname">
            R2-D2
          </div>
        </div>
        <div class="col20">
        <img class="img30 mt15" src="img/flecha-doble.png" alt="">
        </div>
        <div class="col30 center pt0 f40">
        <i id="3start" class="fa fa-star yellow" aria-hidden="true"></i>
        <span id="3Bname">
          Alesongg
        </span>
        </div>
        <div class="col10 center f50 negrita white" id="3Bnum">
          0
        </div>
      </div>
    </div>

    <div class="center " id="4box">
      <div class="mirow bg-vs radius5">
        <div class="col10 center f50 negrita white" id="4Anum">
          3
        </div>
        <div class="col30 center pt0 f40">
          <div class="mr10" id="4Aname">
            Piofest
          </div>
        </div>
        <div class="col20">
        <img class="img30 mt15" src="img/flecha-doble.png" alt="">
        </div>
        <div class="col30 center pt0 f40">
        <i id="4start" class="fa fa-star yellow" aria-hidden="true"></i>
        <span id="4Bname">
          Alesongg
        </span>
        </div>
        <div class="col10 center f50 negrita white" id="4Bnum">
         2
        </div>
      </div>
    </div>


    <div class="f30 mt10 oculto">
      <i class="fa fa-star yellow" aria-hidden="true"></i> Lugar Asegurado - Donantes de la semana.
    </div>

    <%- include('includes/scripts') %>
    <script type="text/javascript" src="js/miscriptpvp.js"></script>
  </body>
</html>
