<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <link href="../css/estilorangosa2g.css" rel="stylesheet" type="text/css" />
    <title>Rangos A2G</title>
  </head>

<style media="screen">
  .micontenedor{
    border-color: rgba(255, 0, 0, 0);
  }
  .mirow{
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    margin: -6px -15px;
  }
  body{
    //background-color: #40cc00;
  }
  .celda{
    border: solid;
  }
  progress {
    -webkit-appearance: none;
   appearance: none;
  width: 100%;
  height: 20px;
  //border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
}
.dulces{
  background-color: rgba(1, 255, 196, 0.25);
}
.hs{
  background-color: rgba(212, 255, 0, 0.25);
  border-right: solid 4px;
}
.hsT{
  background-color: rgba(212, 255, 0, 0.25);
}
.boxprogress{
  width: 100%;
  position:absolute;
  top: 35px;
  margin-left: -15px;
}
.transparente{
  color: rgba(255, 0, 0, 0);
}
.boxes{
margin: -15px;
}


</style>

  <body>


    <div class="micontenedor b4 f70 mb50">



      <div class="mirow p0">
        <div class="col25 negrita center transparente">
          \
        </div>
        <div class="col75">
          <div class="mirow">
            <div class="col20 celda center">
              <span class="f100">Â2𝗚</span>
              <div class="mirow f55 pb0">
                <div class="col50 dulces">
                  <div class="f60">M</div>
                  9
                </div>
                <div class="col50 hsT">
                  <div class="f60">HS</div>
                  3
                </div>
              </div>
            </div>
            <div class="col20 celda center">
              <span class="f100">🥇</span>
              <div class="mirow f55 pb0">
                <div class="col50 dulces">
                  <div class="f60">M</div>
                  12
                </div>
                <div class="col50 hsT">
                  <div class="f60">HS</div>
                  9
                </div>
              </div>
            </div>
            <div class="col20 celda center">
              <span class="f100">🥈</span>
              <div class="mirow f55 pb0">
                <div class="col50 dulces">
                  <div class="f60">M</div>
                  15
                </div>
                <div class="col50 hsT">
                  <div class="f60">HS</div>
                  15
                </div>
              </div>
            </div>
            <div class="col20 celda center">
              <span class="f100">🥉</span>
              <div class="mirow f55 pb0">
                <div class="col50 dulces">
                  <div class="f60">M</div>
                  20
                </div>
                <div class="col50 hsT">
                  <div class="f60">HS</div>
                  20
                </div>
              </div>
            </div>
            <div class="col20 celda center">
              <span class="f100">🏅</span>
              <div class="mirow f55 pb0">
                <div class="col50 dulces">
                  <div class="f60">M</div>
                  50
                </div>
                <div class="col50 hs">
                  <div class="f60">HS</div>
                  30
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="mirow p0">
        <div class="col25">
          ALESON
        </div>
        <div class="col75">
          <div class="boxes">
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="boxprogress">
            <progress value="100" max="100">100%</progress>
          </div>
        </div>
      </div>

      <div class="mirow p0">
        <div class="col25">
          ERIKA_DR
        </div>
        <div class="col75">
          <div class="boxes">
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="boxprogress">
            <progress value="20" max="100">20%</progress>
          </div>
        </div>
      </div>

      <div class="mirow p0 oculto">
        <div class="col25">
          EQUIS
        </div>
        <div class="col75">
          <div class="boxes">
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="boxprogress">
            <progress value="100" max="100">100%</progress>
          </div>
        </div>
      </div>

      <div class="mirow p0 oculto">
        <div class="col25">
          TEMO
        </div>
        <div class="col75">
          <div class="boxes">
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="boxprogress">
            <progress value="40" max="100">40%</progress>
          </div>
        </div>
      </div>

    <div class="mirow p0">
      <div class="col25">
        LA TUSA
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="20" max="100">20%</progress>
        </div>
      </div>
    </div>

    <div class="mirow p0">
      <div class="col25">
        VICHUG
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="20" max="100">20%</progress>
        </div>
      </div>
    </div>

    <div class="mirow p0">
      <div class="col25">
        LEO
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="80" max="100">80%</progress>
        </div>
      </div>
    </div>

    <div class="mirow p0 oculto">
      <div class="col25 f60">
        Hemel-RN
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="0" max="100">0%</progress>
        </div>
      </div>
    </div>

      <div class="mirow p0">
      <div class="col25 f50">
        CHIÍ CHEÑOL
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="20" max="100">20%</progress>
        </div>
      </div>
      </div>

      <div class="mirow p0">
      <div class="col25 f60">
        CHAMAPUA
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="0" max="100">10%</progress>
        </div>
      </div>
    </div>

    <div class="mirow p0">
      <div class="col25">
        PICHULITA
      </div>
      <div class="col75">
        <div class="boxes">
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 " aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 " aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col20 center">
            <div class="mirow">
              <div class="col50 dulces">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
              <div class="col50 hs">
                <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="boxprogress">
          <progress value="40" max="100">40%</progress>
        </div>
      </div>
    </div>


      <div class="mirow p0 oculto">
        <div class="col25">
          FARITO
        </div>
        <div class="col75">
          <div class="boxes">
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col20 center">
              <div class="mirow">
                <div class="col50 dulces">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
                <div class="col50 hs">
                  <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="boxprogress">
            <progress value="10" max="100">10%</progress>
          </div>
        </div>
        </div>

        <div class="mirow p0">
          <div class="col25">
            YRAM
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="20" max="100">20%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0 oculto">
          <div class="col25">
            VICENTE
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="20" max="100">20%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0 oculto">
          <div class="col25">
            DANA
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25">
            ERICD
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0 oculto">
          <div class="col25">
            ENEMIGO
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="40" max="100">40%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25">
            JAZMIN
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25">
            JESSICA
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25 f50">
            EL_ROBERTH
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25 f50">
            HIJO_ROBERTH
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>

        <div class="mirow p0">
          <div class="col25 f50">
            JUANCHITA_FAN
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>


        <div class="mirow p0">
          <div class="col25 f50">
            CHAPULINEO_FAKE
          </div>
          <div class="col75">
            <div class="boxes">
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col20 center">
                <div class="mirow">
                  <div class="col50 dulces">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                  <div class="col50 hs">
                    <i class="fa fa-check f50 transparente" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="boxprogress">
              <progress value="10" max="100">10%</progress>
            </div>
          </div>
        </div>


  </div>

  <div class="micontenedor center b4 f70 oculto">
    <div class="mirow bb4 p0">
      <div class="col33 negrita">
        Rango
      </div>
      <div class="col33 negrita">
        Dulces
      </div>
      <div class="col33 negrita">
        Cabezazos
      </div>
    </div>

    <div class="mirow bb2 p0">
      <div class="col33">
        R2G
      </div>
      <div class="col33">
        6M
      </div>
      <div class="col33">
        1HS
      </div>
    </div>

    <div class="mirow bb2 p0">
      <div class="col33">
        Â2𝗚🎭
      </div>
      <div class="col33">
        9M
      </div>
      <div class="col33">
        3HS
      </div>
    </div>

    <div class="mirow bb2 p0">
      <div class="col33">
        🥇Â2𝗚🎭
      </div>
      <div class="col33">
        12M
      </div>
      <div class="col33">
        9HS
      </div>
    </div>


  <div class="mirow bb2 p0">
    <div class="col33">
      🥈Â2𝗚🎭
    </div>
    <div class="col33">
      15M
    </div>
    <div class="col33">
      15HS
    </div>
  </div>


<div class="mirow bb2 p0">
  <div class="col33">
    🥉Â2𝗚🎭
  </div>
  <div class="col33">
    20M
  </div>
  <div class="col33">
    20HS
  </div>
</div>


<div class="mirow bb2 p0">
  <div class="col33">
    🏅Â2𝗚🎭
  </div>
  <div class="col33">
    50M
  </div>
  <div class="col33">
    50HS
  </div>
</div>

    <%- include('includes/scripts') %>
    <script type="text/javascript" src="js/miscriptrangosa2g.js"></script>
  </body>
</html>
