<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('includes/head') %>
    <title>Este es el index</title>
  </head>
  <body>

    <h3>El parrafo diguiente trae informacion de la base de datos</h3>
    <p>
      El dato es: <%= dato %>
    </p>



    <%- include('includes/scripts') %>
  </body>
</html>
